@model ShopCartViewModel
<div class="container mt-5">
    @foreach (var el in Model.shopCart.ListShopItems)
    {
    <div class="alert-warning mt-3">
        <b>Avtomobil:</b> @el.car.Name<br />
        <b>Cena:</b> @el.car.Price.ToString("c")
    </div>
    }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>