@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.shopCart.ListShopItems)
    {
    <div class="alert-warning mt-3">
        <b>Avtomobil:</b> @el.car.Name<br />
        <b>Cena:</b> @el.car.Price.ToString("c")
    </div>
    }
    <hr />
    <div class="btn btn-danger" asp-controller="Order" my-4>Oplatit</div>
</div>